.journal {
	padding: 38px;

	@media screen and (max-width: 991px) {
		padding: 25px;
	}

	.header-text {
		padding: 85px 0;

		a {
			text-decoration: none;
			outline: none;
		}

		@media screen and (min-width: 2000px) {
			padding: 3vw 0;
		}

		@media screen and (max-width: 1400px) {
			padding: 50px 0;
		}

		@media screen and (max-width: 991px) {
			padding-top: 75px;

			.title {
				line-height: 1;
				padding: 0;

				svg {
					width: 280px;
					width: 70vw;
				}
			}
		}
	}

	.category-name {
		word-break: break-all;
	}

	.posts-journal {
		.seach-none {
			font-size: 70px;
			line-height: 89px;
			text-align: center;

			@media screen and (min-width: 2000px) {
				font-size: 4vw;
				line-height: 4vw;
			}
		}

		.adjust-margin-journal {
			margin-right: -8px;
			margin-left: -8px;
		}

		.adjust-padding-journal {
			padding-left: 8px;
			padding-right: 8px;
		}

		.imagem {
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: 400px;
			height: 400px;

			img {
				width: 100%;
				height: auto;
			}
		}

		img {
			max-width: 100%;
		}
		
		a {
			color: $preto;
			text-decoration: none;
		}

		p {
			font-family: 'Akkurat-Mono';
			font-size: 16px;
			text-transform: uppercase;
			padding: 38px 0 64px 0;
			text-align: center;
			line-height: 20px;
			letter-spacing: 3.2px;

			&.categoria {
				padding-top: 35px;
				padding-bottom: 45px;

				@media screen and (max-width: 1400px) {
					padding: 25px 0;
				}
				
				@media screen and (max-width: 1200px) {
					padding: 25px 0;
				}

				@media screen and (max-width: 991px) {
					padding: 25px 0;
				}
			}

			@media screen and (min-width: 2000px) {
				font-size: 1vw;
				padding: 1.4vw 0 2.8vw;
			}

			@media screen and (max-width: 1400px) {
				padding: 25px 0 38px 0;
			}

			@media screen and (max-width: 991px) {
				font-size: 13px;
			}
		}

		.title {
			font-size: 35px;
			line-height: 42px;
			padding: 0px;
			text-align: center;

			@media screen and (min-width: 2000px) {
				font-size: 2vw;
				line-height: 2.5vw;
			}
			
			@media screen and (max-width: 1400px) {
				font-size: 25px;
				line-height: 32px;
			}

			@media screen and (max-width: 991px) {
				font-size: 35px;
				line-height: 42px;
			}
		}

		.journal-text {
			@media screen and (max-width: 1400px) {
				padding: 0 30px;
			}
			@media screen and (max-width: 1200px) {
				padding: 0 20px;
			}
			@media screen and (max-width: 991px) {
				padding: 0 15px;
				min-height: 370px;
				height: auto !important;
			}
		}

		.hr {
			height: 16px;
			padding: 64px 0;
			
			@media screen and (min-width: 2000px) {
				padding: 2.8vw 0;
			}
		}
	}

	.pagination-journal {
		justify-content: center;
		align-items: center;

		a  {
			font-family: 'Akkurat-Mono';
			position: relative;
			display: block;
			padding: .5rem .75rem;
			color: $verde;
			background-color: $claro;
			border: none;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0;
			outline: none;

			@media screen and (max-width: 991px) {
				font-size: 13px;

				svg {
					width: 12px;
					height: auto;
				}
			}

			span {
				margin: 0 40px;

				@media screen and (max-width: 991px) {
					margin: 0 20px;
				}
			}

			&:hover, &:focus {
				outline: none;
				box-shadow: none;
				text-decoration: underline;
			}
		}

		.current {
			position: relative;
			display: block;
			padding: .5rem .75rem;
			color: $verde;
			text-decoration: underline;
			font-family: 'Akkurat-Mono';
			position: relative;
			display: block;
			padding: .5rem .75rem;
			background-color: $claro;
			border: none;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0;
			outline: none;

			@media screen and (max-width: 991px) {
				font-size: 13px;
			}
		}
	}
}