.single {
	color: $verde;

	.container {
		@media screen and (min-width: 1400px) {
			min-width: 1230px;
		}
		@media screen and (min-width: 1700px) {
			min-width: 1535px;
		}

		@media screen and (max-width: 991px) {
			padding: 0;
		}
	}

	.subtitle {
		font-size: 16px;
		padding: 45px 0 ;
		color: $verde;

		@media screen and (min-width: 2000px) {
			font-size: 1.5vw;
		}

		@media screen and (max-width: 991px) {
			font-size: 13px;
			padding: 25px 0;
		}
	}

	.header-post {
		text-align: center;
		margin-bottom: 10px;

		@media screen and (max-width: 991px) {
			margin: 0;
		}

		.title {
			font-size: 70px;
			line-height: 85px;
			padding: 20px 15px;
			padding-bottom: 45px;

			@media screen and (min-width: 2000px) {
				font-size: 1.5vw;
				line-height: 1.5;
			}

			@media screen and (max-width: 1400px) {
				font-size: 50px;
				line-height: 69px;
			}

			@media screen and (max-width: 991px) {
				font-size: 30px;
				line-height: 40px;
				padding-top: 25px;
				padding-bottom: 20px;
			}
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.single-content {
		font-family: 'Akkurat';
		
		.title {
			font-family: 'Monarch';
			font-size: 30px;
			line-height: 40px;
			color: $verde;

			@media screen and (min-width: 2000px) {
				font-size: 1vw;
				line-height: 1.5;
			}

			@media screen and (max-width: 1400px) {
				font-size: 25px;
				line-height: 35px;
			}

			@media screen and (max-width: 767px) {
				font-size: 15px;
				line-height: 25px;
			}
		}

		p:not(.subtitle) {
			font-family: 'Akkurat';
			font-size: 21px;
			line-height: 30px;
			letter-spacing: 0.32px;
			padding-bottom: 45px;
			color: $verde;

			@media screen and (min-width: 2000px) {
				font-size: 1.5vw;
			}

			@media screen and (max-width: 1400px) {
				font-size: 18px;
				line-height: 30px;
			}

			@media screen and (max-width: 991px) {
				font-size: 14px;
				line-height: 20px;
				padding-bottom: 25px;
			}
		}

		img {
			max-width: 100%;
			width: 100%;
			height: auto;
			margin-bottom: 24px;

			@media screen and (max-width: 991px) {
				margin-bottom: 15px;
			}
		}

		figure {
			margin: 0;
		}

		h1{
			font-size: 35px;
			line-height: 42px;
			padding-bottom: 60px;

			@media screen and (min-width: 2000px) {
				font-size: 3vw;
				line-height: 3vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 30px;
				line-height: 37px;
				padding-bottom: 25px;
			}
		}
		h2{
			font-size: 30px;
			line-height: 37px;
			padding-bottom: 60px;

			@media screen and (min-width: 2000px) {
				font-size: 2.5vw;
				line-height: 2.5vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 25px;
				line-height: 32px;
				padding-bottom: 25px;
			}
		}
		h3{
			font-size: 25px;
			line-height: 32px;
			padding-bottom: 60px;

			@media screen and (min-width: 2000px) {
				font-size: 2.2vw;
				line-height: 2.2vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 20px;
				line-height: 27px;
				padding-bottom: 25px;
			}
		}
		h4{
			font-size: 20px;
			line-height: 30px;
			padding-bottom: 60px;

			@media screen and (min-width: 2000px) {
				font-size: 2vw;
				line-height: 2vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 18px;
				line-height: 25px;
				padding-bottom: 25px;
			}
		}
		h5{
			font-size: 18px;
			line-height: 28px;
			padding-bottom: 60px;

			@media screen and (min-width: 2000px) {
				font-size: 1.8vw;
				line-height: 1.8vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 15px;
				line-height: 22px;
				padding-bottom: 25px;
			}
		}

		h6{
			font-family: 'Akkurat-Mono';
			text-transform: uppercase;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 3.2px;
			padding-bottom: 20px;

			@media screen and (min-width: 2000px) {
				font-size: 1.5vw;
				line-height: 1.5vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 13px;
				padding-bottom: 25px;
			}
		}

		legend, figcaption {
			font-family: 'Akkurat';
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.35px;
			margin: 0;
			padding-bottom: 20px;

			@media screen and (min-width: 2000px) {
				font-size: 0.7vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 10px;
				line-height: 15px;
				padding-bottom: 25px;
			}
		}

		ul {
			padding-bottom: 20px;

			li {
				font-family: 'Akkurat';
				font-size: 21px;
				line-height: 30px;
				letter-spacing: 0.32px;
				color: $verde;

				@media screen and (min-width: 2000px) {
					font-size: 1.5vw;
				}

				@media screen and (max-width: 1400px) {
					font-size: 18px;
					line-height: 30px;
				}

				@media screen and (max-width: 991px) {
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}

	.share {
		.social-midias {
			@media screen and (max-width: 991px) {
				text-align: center;
			}

			a {
				text-decoration: none;
				margin-right: 15px;

				@media screen and (max-width: 991px) {
					svg {
						margin-bottom: 0;
						width: 25px;
						height: 25px;
					}
				}
			}
		}

		p {
			padding: 20px 0px;

			@media screen and (max-width: 991px) {
				padding: 25px 0;
			}

			a {
				color: $verde;
				font-weight: 700;
			}
		}
	}

	.sidebar {
		padding-right: 35px;

		@media screen and (max-width: 1400px) {
			padding-right: 20px;
		}

		@media screen and (max-width: 991px) {
			padding: 0 15px;

			.title {
				padding: 0;
			}
		}
	}
	
	.outros-posts {
		display: flex;
		justify-content: space-between;
		padding-top: 80px;

		.prev, .next {
			p {
				display: flex;
				align-items: center;

				a {
					text-decoration: none;
					color: $verde;
					font-family: 'Akkurat-Mono';
					font-size: 16px;
					line-height: 1;
					text-transform: uppercase;
					letter-spacing: 3.2px;
					color: $verde;

					@media screen and (max-width: 991px) {
						font-size: 13px;
						line-height: 20px;
					}
				}
			}
		}

		.prev {
			text-align: left;

			svg {
				margin-right: 20px;
			}
		}
		.next {
			text-align: right;

			svg {
				margin-left: 20px;
			}
		}
	}
}