.sobre {
	color: $rosa-escuro;
	padding-bottom: 150px;

	@media screen and (max-width: 991px) {
		padding: 25px;
	}

	.header-text {
		padding-bottom: 25px;
		
		@media screen and (max-width: 991px) {
			padding-top: 40px;
			padding-bottom: 0;

			.title {
				padding-top: 0;
				padding-bottom: 40px;
			}
		}
	}

	@media screen and (max-width: 991px) {
		.container {
			padding: 0 20px;
		}
	}

	.sobre-content {
		text-align: center;
		justify-content: center;

		@media screen and (max-width: 991px) {
			padding: 0;
			margin: 0;
		}

		img {
			max-width: 100%;
			height: auto;
			width: 100%;
			margin: 0 auto;

			@media screen and (max-width: 991px) {
				padding-top: 30px;
				padding-bottom: 50px;
			}
		}

		svg {
			margin-top: 50px;
			margin-bottom: 50px;
			
			@media screen and (max-width: 767px) {
				margin: 0;
				max-width: 100%;
				height: auto;
				margin-bottom: 25px;
			}
		}

		p {
			font-size: 21px;
			line-height: 35px;
			letter-spacing: 0.53px;
			padding-bottom: 20px;
			font-family: 'Akkurat-Mono';
			
			@media screen and (min-width: 2000px) {
				font-size: 1.3vw;
				line-height: 1.8vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 1400px) {
				font-size: 18px;
				line-height: 30px;
			}

			@media screen and (max-width: 991px) {
				font-size: 14px;
				line-height: 24px;
			}
		}

		ul {
			padding-bottom: 20px;

			li {
				font-size: 21px;
				font-family: 'Akkurat-Mono';
				line-height: 35px;
				letter-spacing: 0.53px;

				@media screen and (min-width: 2000px) {
					font-size: 1.5vw;
				}

				@media screen and (max-width: 1400px) {
					font-size: 18px;
					line-height: 30px;
				}

				@media screen and (max-width: 991px) {
					font-size: 14px;
					line-height: 24px;
				}
			}
		}

		ol {
			padding-bottom: 20px;

			li {
				font-size: 21px;
				font-family: 'Akkurat-Mono';
				line-height: 35px;
				letter-spacing: 0.53px;

				@media screen and (min-width: 2000px) {
					font-size: 1.5vw;
				}

				@media screen and (max-width: 1400px) {
					font-size: 18px;
					line-height: 30px;
				}

				@media screen and (max-width: 991px) {
					font-size: 14px;
					line-height: 24px;
				}
			}
		}

		
		h1{
			font-size: 35px;
			line-height: 42px;
			padding-bottom: 60px;

			@media screen and (min-width: 2000px) {
				font-size: 3vw;
				line-height: 3vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 30px;
				line-height: 37px;
				padding-bottom: 50px;
			}
		}
		h2{
			font-size: 30px;
			line-height: 37px;
			padding-bottom: 60px;

			@media screen and (min-width: 2000px) {
				font-size: 2.5vw;
				line-height: 2.5vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 25px;
				line-height: 32px;
				padding-bottom: 50px;
			}
		}
		h3{
			font-size: 25px;
			line-height: 32px;
			padding-bottom: 60px;

			@media screen and (min-width: 2000px) {
				font-size: 2.2vw;
				line-height: 2.2vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 20px;
				line-height: 27px;
				padding-bottom: 50px;
			}
		}
		h4{
			font-size: 20px;
			line-height: 30px;
			padding-bottom: 60px;

			@media screen and (min-width: 2000px) {
				font-size: 2vw;
				line-height: 2vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 18px;
				line-height: 25px;
				padding-bottom: 50px;
			}
		}
		h5{
			font-size: 18px;
			line-height: 28px;
			padding-bottom: 60px;

			@media screen and (min-width: 2000px) {
				font-size: 1.8vw;
				line-height: 1.8vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 15px;
				line-height: 22px;
				padding-bottom: 50px;
			}
		}

		h6{
			font-family: 'Akkurat-Mono';
			text-transform: uppercase;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 3.2px;
			padding-bottom: 20px;

			@media screen and (min-width: 2000px) {
				font-size: 1.5vw;
				line-height: 1.5vw;
				padding-bottom: 2vw;
			}

			@media screen and (max-width: 991px) {
				font-size: 13px;
				line-height: 20px;
			}
		}

		img {
			max-width: 100%;
			height: auto;
		}

		figure {
			margin: 0;
			width: 100%;
		}

		legend, figcaption {
			font-family: 'Akkurat';
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.35px;
			margin: 0;
			padding-bottom: 20px;

			@media screen and (min-width: 2000px) {
				font-size: 0.7vw;
			}
		}

		.text-decoration-underline {
			text-decoration: underline;
		}
	}
}

.servicos {
	figure {
		margin: 8% auto !important;

		@media screen and (max-width: 1400px) {
			margin: 3% auto !important;
		}

		@media screen and (max-width: 991px) {
			margin: 50px auto !important;
		}
	}

	@media screen and (min-width: 1700px) {
		.container {
			max-width: 1220px;
		}
	}
}